<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">
            false
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.connection.password">
            myPassword
        </property>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/paper_guide
        </property>
        <property name="hibernate.connection.username">
            postgres
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="show_sql">
            true
        </property>
    </session-factory>
</hibernate-configuration>
<!--    <session-factory>-->
<!--        <property name="hibernate.bytecode.use_reflection_optimizer"›false</property>-->
<!--    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver‹/property>-->
<!--        <property name="hibernate. connection.password"›password</property>-->
<!--    <property name="hibernate.connection.url"›jdbc:mysql://localhost:3306/mkyong</property>-->
<!--        ‹property name="hibernate.connection.username"›root‹/property>-->
<!--<property name="hibernate.dialect"›org.hibernate.dialect.MySQLDialect‹/property>-->
<!--        ‹property name="show sql"›true‹/property>-->
<!--<mapping resource= "com/mkyong/common/Stock.hbm.xm]"›</mapping>-->
<!--</session-factory>-->